.flex-container {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.body {
  margin: 0;
  padding: 10px 50px 75px 100px;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url("https://i.imgur.com/61lqY0J.jpg");
}

.card {
  color: rgb(245, 85, 27);
  font-family: "Oswald", sans-serif;
  background-color: rgb(252, 247, 247);
  opacity: 2;
  height: 180px;
  width: 400px;
  margin: 100px 20px 20px 400px;
  padding: 30px 30px 30px 30px;
}
.reabMeButton {
  font-size: 17px;
  margin: 10px 0px 0px 260px;
  background-color: rgb(233, 89, 36);
  border: none;
  border-radius: 3px;
  color: white;
}
.navbar {
  margin: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border: 5px rgb(242, 93, 93);
  width: 100%;
}
.box1 {
  flex: 10;
}

.box2 {
  flex: 2;
  padding-left: -10px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.versesBox {
  background-color: #f2a85972;
  box-sizing: border-box;
  margin: 0px 250px 0px 20px;
  padding: 10px 10px 10px 10px;
}

.title {
  text-align: center;
}
.description {
  text-align: center;
}

.titleVerse {
  text-align: center;
  margin: 0px 50px 0px 50px;
  font-weight: bold;
}
.formTitle {
  text-align: center;
  padding: 20px 0px 0px 0px;
}
.formInput {
  text-align: center;
}
.formDescription {
  text-align: center;
}
.textDescription {
  text-align: center;
}
.formBtn {
  text-align: center;
}
.one {
  padding: 10px 75px 10px 75px;
}
.two {
  padding: 10px 60px 150px 60px;
}
.btn {
  border: none;
  text-decoration: none;
  background-color: brown;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}
.btnTwo{
  border: none;
  text-decoration: none;
  background-color: brown;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}