h2 {
  color: orange;
}
h5 {
  color: rgb(73, 67, 56);
}
body {
  margin-left: 60px;
  margin-right: 80px;
  padding: 20px 10px 75px 10px;
  background-size: cover;
  height: 90vh;
  width: 100%;
}
@media screen and (max-width: 480px) {
  body {
    display: flex;
    background-color: orange;
  }
  .reabMeButton {
    font-size: 17px;
    background-color: rgb(233, 89, 36);
    border: none;
    border-radius: 3px;
    margin-left: 70px;
  }
  .container {
    display: inline-block;
    align-items: left;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  section {
    background-image: URL("https://i.imgur.com/61lqY0J.jpg");
    margin-left: 30px;
    margin-right: 200px;
    padding: 20px 0px 75px 10px;
    background-size: cover;
    height: 90vh;
    width: 1300px;
  }
  .card {
    font-family: "Oswald", sans-serif;
    background-color: rgb(252, 247, 247);
    opacity: 2;
    height: 180px;
    width: 400px;
    margin: 100px 20px 20px 400px;
    padding: 30px 30px 30px 30px;
  }
  .reabMeButton {
    font-size: 17px;
    margin: 10px 0px 0px 260px;
    background-color: rgb(233, 89, 36);
    border: none;
    border-radius: 3px;
    color: white;
  }
}

.navbar {
  margin: 20px;
  padding-top: 100px;
  padding-left: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 5px rgb(242, 93, 93);
  width: 100%;
}
.box1 {
  flex: 10;
  
}

.box2 {
  flex: 1;
  flex-direction: row;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.versesBox {
  background-color: #f2a85972;
  box-sizing: border-box;
  margin: 0px 250px 0px 20px;
  padding: 10px 10px 10px 10px;
}

.title {
  text-align: center;
}
.description {
  text-align: center;
}

.titleVerse {
  text-align: center;
  margin: 0px 50px 0px 50px;
  font-weight: bold;
}
.formTitle {
  text-align: center;
  padding: 20px 0px 0px 0px;
}
.formInput {
  text-align: center;
}
.formDescription {
  text-align: center;
}
.textDescription {
  text-align: center;
}
.formBtn {
  text-align: center;
}
.one {
  padding: 10px 75px 10px 75px;
  border: 2px solid black;
}
.two {
  padding: 10px 60px 150px 60px;
  border: 2px solid black;
}
.btn {
  border: none;
  text-decoration: none;
  background-color: brown;
  padding: 5px 30px 5px 30px;
  border-radius: 5px;
}
.btnTwo {
  border: none;
  text-decoration: none;
  background-color: brown;
  padding: 5px 30px 5px 30px;
  border-radius: 5px;
}
.titleTwo {
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-size: x-large;
}
.titleThree {
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-size: x-large;
}
.verseTitle {
  text-align: center;
  padding: 20px 0px 0px 0px;
}
.editVerse {
  text-align: center;
  padding: 20px 0px 0px 0px;
}
