h2 {
  color: orange;
}
h5 {
  color: rgb(73, 67, 56);
}
body {
  margin-left: 60px;
  margin-right: 80px;
  padding: 20px 10px 75px 10px;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.navbar {
  margin: 20px;
  padding-top: 100px;
  padding-left: 130px;
}
.addnew {
  float: right;
  padding: 0px 350px 10px 10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 5px rgb(242, 93, 93);
  width: 100%;
}
.box1 {
  padding: 10px 0px 10px 50px;
  margin: 10px 0px 10px 10px;
}

.box2 {
  flex: 1;
  flex-direction: row;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.versesBox {
  background-color: #f2a85972;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  height: 200px;
  width: 900px;
}
.edit-link {
  position: relative;
  left: -9px;
}

.title {
  text-align: center;
}
.description {
  text-align: center;
}

.titleVerse {
  text-align: center;
  margin: 0px 200px 0px 50px;
  font-weight: bold;
}
.formTitle {
  text-align: center;
  padding: 20px 0px 0px 0px;
}
.formInput {
  text-align: center;
}
.formDescription {
  text-align: center;
}
.textDescription {
  text-align: center;
}
.formBtn {
  text-align: center;
}
.one {
  padding: 10px 75px 10px 75px;
  border: 2px solid black;
}
.two {
  padding: 10px 60px 150px 60px;
  border: 2px solid black;
}
.btn {
  border: none;
  text-decoration: none;
  background-color: brown;
  padding: 5px 30px 5px 30px;
  border-radius: 5px;
  margin: 80px 0px 20px -5px;
}
.btnTwo {
  border: none;
  text-decoration: none;
  background-color: brown;
  padding: 5px 30px 5px 30px;
  border-radius: 5px;
}
.titleTwo {
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-size: x-large;
}
.titleThree {
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-size: x-large;
}
.verseTitle {
  text-align: center;
  padding: 20px 0px 0px 0px;
}
.editVerse {
  text-align: center;
  padding: 20px 0px 0px 0px;
}
@media screen and (max-width: 480px) {
  body {
    display: flex;
    background-color: rgb(227, 224, 219);
    height: 50px;
    width: 100px;
  }
  .reabMeButton {
    font-size: 17px;
    background-color: rgb(233, 89, 36);
    border: none;
    border-radius: 3px;
    margin-left: 60px;
  }
  .container {
    display: flex;
    align-items: left;
    flex-wrap: wrap;
  }
  .titleVerse {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin: -36px 231px -9px -127px;
  }
  .box1 {
    padding: 8px 71px 3px 54px;
    margin: -67px 397px -36px -3px;
  }
  .navbar {
    display: inline-block;
    margin: 10px;
    padding-top: 100px;
    padding-left: 30px;
  }
  .versesBox {
    background-color: #d6d2cd72;

    padding: 23px 10px 0px 10px;
    height: 200px;
    width: 300px;
  }
  .addnew {
    padding: 4px 0px 47px 0px;
  }
  element.style {
    margin: 51px;
  }
  .btn {
    border: none;
    text-decoration: none;
    background-color: brown;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    margin: 81px 0px 20px -5px;
  }
  .btnTwo {
    border: none;
    text-decoration: none;
    background-color: brown;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    margin: 81px 0px 20px -5px;
  }
}

@media screen and (min-width: 480px) {
  section {
    background-image: URL("https://i.imgur.com/61lqY0J.jpg");
    margin-left: 30px;
    margin-right: 200px;
    padding: 20px 0px 75px 10px;
    background-size: cover;
    height: 90vh;
    width: 1300px;
  }
  .navbar {
    margin: 10px;
    padding-top: 52px;
    padding-left: 10px;
  }
  .card {
    font-family: "Oswald", sans-serif;
    background-color: rgb(252, 247, 247);
    opacity: 2;
    height: 180px;
    width: 400px;
    margin: 210px 20px 20px 400px;
    padding: 40px 70px 30px 70px;
  }
  .reabMeButton {
    font-size: 17px;
    margin: 10px 0px 0px 260px;
    background-color: rgb(233, 89, 36);
    border: none;
    border-radius: 3px;
    color: white;
  }
}
